<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../logado/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="conteudo">
        <h1 class="jr-titulo1">Carteirinha</h1>


        <h:form id="form_pesquisa">

            <p:toolbar id="toolbar_pesquisa" styleClass="toolbar" rendered="#{!carteirinhaC.mostraToolbar}"  >
                <p:toolbarGroup  >
                    <p:commandButton value="Pesquisar" actionListener="#{carteirinhaC.pesquisar}"
                                     update="@form" process="@this panelGridPesq" />
                    <p:separator></p:separator>
                    <p:commandButton value="Novo" actionListener="#{carteirinhaC.mudaToolbar}" update="@form" global="false"  />
                </p:toolbarGroup>
            </p:toolbar>
            <p:toolbar id="toolbar_salvar" styleClass="toolbar" rendered="#{carteirinhaC.mostraToolbar}">
                <p:toolbarGroup  >
                    <p:commandButton value="Salvar" action="#{carteirinhaC.salvar()}" update="aba_alterar" />
                    <p:separator></p:separator>
                    <p:commandButton value="Cancelar" actionListener="#{carteirinhaC.mudaToolbar}" immediate="true"
                                     update="@form" global="false" />
                </p:toolbarGroup>
            </p:toolbar>

            <p:messages id="mens"  autoUpdate="true" />

            <h:panelGroup id="aba_pesquisa" rendered="#{!carteirinhaC.mostraToolbar}" >
                <p:panelGrid id="panelGridPesq" columns="2" layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-8" styleClass="painel_grid_noborder" >

                    <p:outputLabel for="pesqNome" value="Numero Carteirinha:"/>
                    <p:inputText id="pesqNome" value="#{carteirinhaC.pesqNome}" style="margin-left: 5px"/>
                    <p:spacer />

                </p:panelGrid>

                <p:dataTable id="dadosCarteirinha" value="#{carteirinhaC.modelCarteirinhas}" var="carteirinha" reflow="true" paginator="true"
                             style="margin-top: 20px;"  emptyMessage="Nenhuma Carteirinha encontrada" rows="10" paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="[ {currentPage} de {totalPages}  ]"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="Numero">
                        <h:outputText value="#{carteirinha.numero}" />
                    </p:column>
                    <p:column headerText="validade">
                        <h:outputText value="#{carteirinha.validade}" />
                    </p:column>
                    <p:column headerText="curso">
                        <h:outputText value="#{carteirinha.curso.curso}" />
                    </p:column>
                    <p:column headerText="Aluno">
                        <h:outputText value="#{carteirinha.aluno.nome}" />
                    </p:column>


                    <p:column headerText="Alterar" class="centralizado tabela_botao_usuario"  >
                        <p:commandButton icon="ui-icon-pencil" title="Alterar"
                                         process="@this" update="@form" actionListener="#{carteirinhaC.alterarAluno}">
                            <f:setPropertyActionListener target="#{carteirinhaC.carteirinha}" value="#{carteirinha}"/>          
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-trash" actionListener="#{carteirinhaC.excluir()}"
                                         update="dadosCarteirinha" title="Excluir">
                            <p:confirm header="Confirmação" message="Tem certeza exclusão?" 
                                       icon="ui-icon-alert" />
                            <f:setPropertyActionListener target="#{carteirinhaC.carteirinha}" value="#{carteirinha}"   />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>
            </h:panelGroup> 
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" 
                                 icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" 
                                 icon="ui-icon-close" />
            </p:confirmDialog>

            <h:panelGroup id="aba_alterar" rendered="#{carteirinhaC.mostraToolbar}">
                <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4" 
                             styleClass="painel_grid_noborder" >

                    <p:outputLabel for="numero" value="Numero :" />
                    <p:inputText id="numero" value="#{carteirinhaC.carteirinha.numero}" style="margin-left: 5px"/>

                    <p:outputLabel for="inicio" value="Data" />
                    <p:calendar id="inicio" value="#{carteirinhaC.carteirinha.validade}" pattern="dd/MM/yyyy HH:mm" >
                    </p:calendar>

                    <p:outputLabel for="aluno"  value="Aluno" />
                    <p:autoComplete id="aluno" value="#{carteirinhaC.aluno.id}"
                                    completeMethod="#{carteirinhaC.pesquisaAluno}"
                        var="alu" itemLabel="#{alu.nome}" itemValue="#{alu.id}" />
                    
                       <p:outputLabel for="curso"  value="Curso" />
                    <p:autoComplete id="curso" value="#{carteirinhaC.curso.id}"
                                    completeMethod="#{carteirinhaC.pesquisaCurso}"
                        var="cur" itemLabel="#{cur.curso}" itemValue="#{cur.id}" />
                    
                    

                </p:panelGrid>
            </h:panelGroup>

        </h:form>
    </ui:define>

</ui:composition>
