<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../logado/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="conteudo">
        <h1 class="jr-titulo1">equipamento</h1>

        <h:form id="form_pesquisa">
            <!--mostra a toolbar se mostra_toolbar == true-->
            <p:toolbar styleClass="toolbar" rendered="#{!equipamentoC.mostra_toolbar}">
                <p:toolbarGroup  >
                    <p:commandButton value="Pesquisar" actionListener="#{equipamentoC.pesquisar()}"
                                     update="dadosequipamento" process="@this panelGridPesq" />
                    <p:separator></p:separator>
                    <p:commandButton value="Novo" actionListener="#{equipamentoC.novo}" update="@form" global="false"  />
                </p:toolbarGroup>
            </p:toolbar>

            <!--mostra a toolbar se mostra_toolbar == false-->
            <p:toolbar id="toolbar_pesquisa" styleClass="toolbar" rendered="#{equipamentoC.mostra_toolbar}">
                <p:toolbarGroup  >
                    <p:commandButton value="Salvar" action="#{equipamentoC.salvar()}" update="panelGrop" />
                    <p:separator></p:separator>
                    <p:commandButton value="Cancelar" actionListener="#{equipamentoC.novaPesquisa}" immediate="true"
                                     update="@form" global="false" />
                </p:toolbarGroup>

                <p:toolbarGroup align="right">


                </p:toolbarGroup>

            </p:toolbar>

            <p:messages id="mens" autoUpdate="true" />

            <!--inicio da tela de pesquisa-->
            <h:panelGroup id="aba1" rendered="#{!equipamentoC.mostra_toolbar}" >
                <p:panelGrid id="panelGridPesq" columns="2" layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-5" styleClass="painel_grid_noborder" >

                    <p:outputLabel for="nome_pesquisa" value="Nome :" />
                    <p:inputText id="nome_pesquisa" value="#{equipamentoC.equipamento.nomeEquipamento}" style="width: 100%" />
                    <p:spacer />

                </p:panelGrid>

                <p:dataTable id="dadosequipamento" value="#{equipamentoC.dataModel}" var="equipamento" reflow="true"
                             style="margin-top: 20px;"  emptyMessage="Nenhuma equipamento encontrada">
                    <p:column headerText="Nome" priority="1">
                        <h:outputText value="#{equipamento.nomeEquipamento}" />
                    </p:column>
                    <p:column headerText="Patrimonio" priority="1">
                        <h:outputText value="#{equipamento.patrimonio}" />
                    </p:column>
                    <p:column headerText="Local" priority="2">
                        <h:outputText value="#{equipamento.localidade}" />
                    </p:column>

                    <p:column headerText="Alterar" class="centralizado tabela_botao_usuario" priority="1" >
                        <p:commandButton icon="ui-icon-pencil" title="Alterar"
                                         process="@this" update="@form" actionListener="#{equipamentoC.preparaAlterar()}">
                            <f:setPropertyActionListener target="#{equipamentoC.equipamento}" value="#{equipamento}"   />          
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-trash" actionListener="#{equipamentoC.excluir()}"
                                         update="dadosequipamento" title="Excluir" >
                            <p:confirm header="Confirmação" message="Tem certeza exclusão?" 
                                       icon="ui-icon-alert" />
                            <f:setPropertyActionListener target="#{equipamentoC.equipamento}" value="#{equipamento}"   />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>
            </h:panelGroup> 
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" 
                                 icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" 
                                 icon="ui-icon-close" />
            </p:confirmDialog>
            <!--fim da tela de pesquisa-->

            <!--inicio da tela de cadastro (salvar e alterar)-->
            <h:panelGroup id="panelGrop" rendered="#{equipamentoC.mostra_toolbar}" >
                <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4" 
                             styleClass="painel_grid_noborder" >

                    <p:outputLabel for="nomeEquipamento" value="Nome equipamento :" />
                    <p:inputText id="nomeEquipamento" value="#{equipamentoC.equipamento.nomeEquipamento}" required="true" style="width: 100%; max-width: 600px;"/>

                    <p:outputLabel for="patrimonio" value="patrimonio :" />
                    <p:inputText id="patrimonio" type="number" value="#{equipamentoC.equipamento.patrimonio}" required="true" style="width: 100%; max-width: 600px;"/>

                    <p:outputLabel for="descricao" value="descricao :" />
                    <p:inputTextarea id="descricao" value="#{equipamentoC.equipamento.descricao}" required="true" style="width: 100%; max-width: 600px;"/>
                    
                    <p:outputLabel for="localidade" value="localidade :" />
                    <p:inputText id="localidade" value="#{equipamentoC.equipamento.localidade}" required="true" style="width: 100%; max-width: 600px;"/>

                        <p:outputLabel for="inicio" value="Data" />
                        <p:calendar id="inicio" value="#{equipamentoC.equipamento.cadastro}" pattern="dd/MM/yyyy HH:mm" >
                        </p:calendar>



                </p:panelGrid>
            </h:panelGroup>
            <!--fim da tela de cadastro-->


        </h:form>
    </ui:define>

</ui:composition>
